# Basic Pandas

<b>$ pip install pandas</b>

<b>Let's use series and dataframe type from Pandas</b>

In [1]:
from pandas import Series, DataFrame

ImportError: cannot import name 'Series' from 'pandas' (unknown location)

---
### 1. Pandas Series

<br><br>
<b>Let's say we have a series of KAKAO's end price</b>

In [2]:
kakao = Series([92600, 92400, 92100, 94300, 92300])

In [4]:
kakao

0    92600
1    92400
2    92100
3    94300
4    92300
dtype: int64

<br><br>
<b>w/o any index, Series Object index will start from 0</b>

In [5]:
print(kakao[0])

92600

<br><br>
<b>Index of a Pandas Series can be a string</b>

In [6]:
kakao2 = Series([92600, 92400, 92100, 94300, 92300], index=['2016-02-19',
                                                            '2016-02-18',
                                                            '2016-02-17',
                                                            '2016-02-16',
                                                            '2016-02-15'])

In [7]:
kakao2

2016-02-19    92600
2016-02-18    92400
2016-02-17    92100
2016-02-16    94300
2016-02-15    92300
dtype: int64

In [8]:
kakao2['2016-02-19']

92600

<br><br>
<b>Just like a Python dictionary, we can you these attributes</b>

In [10]:
for date in kakao2.index:
    print(date)

2016-02-19
2016-02-18
2016-02-17
2016-02-16
2016-02-15

In [11]:
for ending_price in kakao2.values:
    print(ending_price)

92600
92400
92100
94300
92300

---
### 2. Adding Series

<br><br>
<b>Adding Series is quite easy</b>

In [12]:
husband_account = Series([10, 20, 30], index =['naver', 'sk', 'kt'])
wife_account = Series([10, 30, 20], index =['kt', 'naver', 'sk'])

In [13]:
familly_account = husband_account + wife_account

In [14]:
familly_account

kt       40
naver    40
sk       40
dtype: int64

<br><br>

---
### 3. Pandas DataFrame

<br><br>

<b>Pandas DataFrame is just like a dataframe from R  
It's a 2-dimensional datatype, easy and convinient</b>

<br><br>
<b>You can create DataFrame Object w/ python dictionary</b>

In [15]:
raw_data = {'col0': [1, 2, 3, 4],
            'col1': [10, 20, 30, 40],
            'col2': [100, 200, 300, 400]}

In [16]:
data = DataFrame(raw_data)

In [17]:
print(data)

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

<br><br>
<b>In the result, we have col0 to col2 as a column name,  
for row name, we got 0 to 3 automatically</b>

<br><br>
<b>Accessing DataFrame is like python dictionary</b>

In [18]:
data['col0']

0    1
1    2
2    3
3    4
Name: col0, dtype: int64

<br><br>
<b>Each column for DataFrame is a Series object  
You can think of a DataFrame object as a data structure as Series w/ same indexs</b>

In [19]:
type(data['col0'])

pandas.core.series.Series

<br><br>
<b>Let's store the OHLC of a certain Stock w/ DataFrame </b>

In [20]:
daeshin = {'open':  [11650, 11100, 11200, 11100, 11000],
           'high':  [12100, 11800, 11200, 11100, 11150],
           'low' :  [11600, 11050, 10900, 10950, 10900],
           'close': [11900, 11600, 11000, 11100, 11050]}

In [21]:
daeshin_day = DataFrame(daeshin)

In [22]:
daeshin_day

    open   high    low  close
0  11650  12100  11600  11900
1  11100  11800  11050  11600
2  11200  11200  10900  11000
3  11100  11100  10950  11100
4  11000  11150  10900  11050

<br><br>
<b>Let's name our rows for the DataFrame</b>

In [23]:
date = ['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23']
daeshin_day = DataFrame(daeshin, columns=['open', 'high', 'low', 'close'], index=date)

In [24]:
daeshin_day

           open   high    low  close
16.02.29  11650  12100  11600  11900
16.02.26  11100  11800  11050  11600
16.02.25  11200  11200  10900  11000
16.02.24  11100  11100  10950  11100
16.02.23  11000  11150  10900  11050

<br><br>
<b><i>AESTHETIC</i></b>

<br><br>

---
### 4. Accessing row and column of DataFrame

<br><br>

<b>As we did before, we can access the column like dictionary key in python</b>

In [25]:
close_price = daeshin_day['close']

In [26]:
close_price

16.02.29    11900
16.02.26    11600
16.02.25    11000
16.02.24    11100
16.02.23    11050
Name: close, dtype: int64

<br><br>
<b>What about the cloumn?  
Let's access OHLC of a certain date</b>

In [27]:
date160224 = daeshin_day['16.02.24']

KeyError: '16.02.24'

<br><br>
<b>if we access row name as above, pandas evaluate this name as a key for the column  
which will raise a key error</b>

<br><br>
<b>Fortunately, Pandas provides a DataFrame method called loc,  
which returns the row data as a Series</b>

In [28]:
day_data = daeshin_day.loc['16.02.24']

In [29]:
day_data

open     11100
high     11100
low      10950
close    11100
Name: 16.02.24, dtype: int64

In [30]:
type(day_data)

pandas.core.series.Series

<br><br>
<b>To check Column name and Index name, use attributes below</b>

In [31]:
daeshin_day.columns

Index(['open', 'high', 'low', 'close'], dtype='object')

In [33]:
daeshin_day.index

Index(['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23'], dtype='object')